<footer class="footer bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-column gap-3">
      <div class="row g-3">
        <div
          class="col-md-3 d-flex align-items-start justify-content-center justify-content-lg-start flex-column"
        >
          <img src="./assets/logo.svg" width="160" alt="logo" />
          <div class="social-icons">
            <i class="fab fa-facebook-f me-3"></i>
            <i class="fab fa-twitter me-3"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>

        <div class="col-6 col-md-2">
          <h5>Shop Men</h5>
          <ul class="list-unstyled">
            <li><span>Clothing Fashion</span></li>
            <li><span>Winter</span></li>
            <li><span>Summer</span></li>
            <li><span>Casual</span></li>
          </ul>
        </div>

        <div class="col-6 col-md-2">
          <h5>Shop Women</h5>
          <ul class="list-unstyled">
            <li><span>Clothing Fashion</span></li>
            <li><span>Winter</span></li>
            <li><span>Summer</span></li>
            <li><span>Casual</span></li>
          </ul>
        </div>

        <div class="col-6 col-md-2">
          <h5>Shop Kids</h5>
          <ul class="list-unstyled">
            <li><span>Clothing Fashion</span></li>
            <li><span>Winter</span></li>
            <li><span>Summer</span></li>
            <li><span>Casual</span></li>
          </ul>
        </div>

        <div class="col-6 col-md-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><span>Track your Order</span></li>
            <li><span>Support</span></li>
            <li><span>FAQs</span></li>
            <li><span>Carrier</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="footer-bottom text-center pt-3 mt-4 border-top border-secondary"
    >
      <p class="mb-0">
        Copyright ©2025 All rights reserved |
        <a class="text-danger" href="https://colorlib.com" target="_blank"
          >Omera</a
        >
      </p>
    </div>
  </div>
</footer>
