<section class="my-5 py-3">
   <div class="container">
    <div class="paySuccess d-flex flex-column justify-content-center align-items-center p-3 gap-4 rounded-3 shadow" *ngIf="PaidMsgSuccess">
        <p class="checkBack text-white"><i class="fa-solid fa-check fs-2"></i></p>
        <h3>Already Paid!</h3>
        <p>You have already paid for this order , thank you</p>
        <div>
            <button class="btn btn-success" [routerLink]="['/home']" >Go Home</button>
        </div>
    </div>
    <div class="payFail d-flex flex-column justify-content-center align-items-center p-3 gap-4 rounded-3 shadow" *ngIf="PaidMsgFail">
        <p class="failBack text-white"><i class="fa-solid fa-xmark fs-2"></i></p>
        <h3>Error , Not Paid!</h3>
        <p>something wrong was happened</p>
        <div>
            <button class="btn btn-danger" [routerLink]="['/home']" >Go Home</button>
        </div>
    </div>
   </div>
</section>