<div class="new-pass" [dir]="isArabic() ? 'rtl' : 'ltr'">
    <div class="shadow bg-white p-5 rounded-4">
        <h3>{{'forget.newpassord'|translate}}</h3>
        <form [formGroup]="newPassword" (submit)="passwordReset()">
            <div class="d-flex flex-column gap-3">
                <div>
                    <!-- <input type="password" class="form-control" [placeholder]="'account.password'|translate"
                        formControlName="password" autocomplete="new-password"> -->
                    <div class="flex justify-content-center">
                        <p-password [placeholder]="'account.password'|translate" formControlName="password"
                            [toggleMask]="true" [dir]="isArabic() ? 'rtl' : 'ltr'" />
                    </div>
                    <div class="validation"
                        *ngIf="newPassword.get('password')?.errors && newPassword.get('password')?.touched ">
                        <p class="text-danger m-0" *ngIf="newPassword.get('password')?.getError('required')">
                            {{'account.pass-req'|translate}}</p>
                        <p class="text-danger m-0" *ngIf="newPassword.get('password')?.getError('pattern')">
                            {{'account.password.pattern'|translate}}</p>

                    </div>
                </div>
                <div>
                    <!-- <input type="password" class="form-control"
                        [placeholder]="'account.confirmPassword.placeholder'|translate" formControlName="password2"
                        autocomplete="new-password"> -->
                    <div class="flex justify-content-center">
                        <p-password [placeholder]="'account.confirmPassword.placeholder'|translate"
                            formControlName="password2" [toggleMask]="true" [dir]="isArabic() ? 'rtl' : 'ltr'" />
                    </div>
                    <div class="validation"
                        *ngIf="newPassword.get('password2')?.errors && newPassword.get('password2')?.touched">
                        <p class="text-danger m-0" *ngIf="newPassword.get('password2')?.getError('required')">
                            {{'account.confirmPassword.required'|translate}}</p>
                        <p class="text-danger m-0"
                            *ngIf="newPassword.get('password2')?.getError('compare') && !newPassword.get('password2')?.getError('required')">
                            {{'account.confirmPassword.compare'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn-main my-3">{{'forget.changepass'|translate}}</button>
            </div>
        </form>
    </div>
</div>