<div class="mt-3">
    <owl-carousel-o [options]="mainSliderOption">
        <ng-template carouselSlide>
            <img src="./assets/header slider/img-1.jpg" height="400" alt="header image">
        </ng-template>
        <ng-template carouselSlide>
            <img src="./assets/header slider/img-2.jpg" height="400" alt="header image">
        </ng-template>
        <ng-template carouselSlide>
            <img src="./assets/header slider/img-3.jpg" height="400" alt="header image">
        </ng-template>
        <ng-template carouselSlide>
            <img src="./assets/header slider/img-4.jpg" height="400" alt="header image">
        </ng-template>
        <ng-template carouselSlide>
            <img src="./assets/header slider/img-5.jpg" height="400" alt="header image">
        </ng-template>

    </owl-carousel-o>
</div>

