<div class="container my-5">
  <div class="row g-3">
    <div class="col-md-6 col-xl-3">
      <div class="feature-box">
        <i class="fas fa-truck"></i>
        <h3>Fast & Free Delivery</h3>
        <p>Free delivery on all orders</p>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="feature-box">
        <i class="fas fa-lock"></i>
        <h3>Secure Payment</h3>
        <p>Free delivery on all orders</p>
      </div>
    
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="feature-box">
        <i class="fas fa-undo-alt"></i>
        <h3>Money Back Guarantee</h3>
        <p>Free delivery on all orders</p>
      </div>
    </div>
    <div class="col-md-6 col-xl-3"> 
      <div class="feature-box">
        <i class="fas fa-headset"></i>
        <h3>Online Support</h3>
        <p>Free delivery on all orders</p>
      </div>
    </div>
  </div>
</div>